* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

div#change_username, section#input_zone {
    border: 5px outset #4c4956;
}

div#change_username {
    height: 3%;
    display: inline-block;
    background-color: #4c4956;
}

section#chatroom {
    border: 5px inset #4c4956;
    height: 85%;
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

section#input_zone {
    height: 7%;
    text-align: center;
    background-color: #4c4956;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#username {
    font-family: 'Roboto', sans-serif;
}

input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 10%;
    background: rgb(130,224,255);
}

p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #aedf90;
}

.message:nth-child(odd) {
    background-color: #cfd6cb;
}
